/*
Solid Grid V2.0
Copyright 2013, Patrick Robin
www.solidgrid.co.uk
Free to use under the MIT license.
http://www.opensource.org/licenses/mit-license.php
01/10/2013
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
.table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #ffffff;
  color: #5d5d5d;
  font: 14px/26px Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 26px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  color: #5d5d5d;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  text-decoration: none;
  color: #5d5d5d;
}
h1 {
  font-size: 31.5px;
  line-height: 52px;
}
h2 {
  font-size: 28px;
  line-height: 52px;
}
h3 {
  font-size: 24.5px;
  line-height: 52px;
}
h4 {
  font-size: 21px;
  line-height: 26px;
}
h5 {
  font-size: 17.5px;
  line-height: 26px;
  margin-bottom: 13px;
}
h6 {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 13px;
}
p {
  margin-bottom: 26px;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
a,
a:visited {
  color: #056273;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #006699;
  text-decoration: none;
}
blockquote {
  border-left: 3px solid #056273;
  margin: 26px 0 26px 26px;
  padding: 0 0 0 26px;
}
blockquote,
cite {
  font-style: italic;
}
blockquote cite:before {
  content: "\2014 \0020";
}
address {
  display: block;
  margin-bottom: 26px;
}
code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
code {
  color: #056273;
  white-space: nowrap;
  background-color: #f9f2f4;
  vertical-align: top;
  padding: 0 13px;
  display: inline-block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
pre {
  display: block;
  padding: 12px;
  color: #056273;
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  background-color: #f9f2f4;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 26px;
  border: 1px solid #e4e4e4;
  overflow: auto;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
img {
  margin-bottom: 26px;
}
img.scale {
  max-width: 100%;
  height: auto;
}
img.bordered {
  border: 10px solid #ffffff;
  -moz-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img.rounded {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
img.circular {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
hr {
  background-color: #e4e4e4;
  height: 1px;
  width: 90%;
  border: none;
  margin: 26px auto;
  margin-bottom: 25px;
  clear: both;
}
.title {
  border-bottom: 1px solid #e4e4e4;
  margin: 25px 0;
  padding-bottom: 25px;
  line-height: 52px;
  font-size: 35px;
  color: #5d5d5d;
}
.strapline {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin: 51px 0;
  line-height: 52px;
  color: #5d5d5d;
}
.introduction {
  padding: 13px 0;
  margin-bottom: 26px;
  font-size: 21px;
  line-height: 39px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
span.quiet {
  color: #cccccc;
}
span.loud {
  color: #000000;
}
span.highlight {
  background-color: #0a96a9;
  color: #ffffff;
  padding: 0 13px;
}
span.removed {
  text-decoration: line-through;
}
ul,
ol {
  margin: 26px 0 26px 26px;
}
ul {
  list-style: circle outside;
}
ol {
  list-style: decimal;
  margin-left: 26px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 26px 0 26px 26px;
}
li {
  margin: 0;
}
dl {
  margin: 26px 0 26px 26px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 26px;
}
/* tables */
.table {
  margin-bottom: 26px;
  width: 100%;
  line-height: 26px;
}
.table caption {
  background-color: transparent;
  padding: 0 13px;
  line-height: 52px;
  font-size: 21px;
  color: #5d5d5d;
  border-bottom: 1px solid #e4e4e4;
}
.table th,
.table td {
  padding: 0 13px;
  line-height: 26px;
}
.table th {
  background-color: #transparent;
  font-size: 17.5px;
  font-weight: bold;
  color: #666666;
}
.table td {
  padding: 0 13px;
  line-height: 26px;
  vertical-align: top;
  background-color: transparent;
  color: #5d5d5d;
  border-top: 1px solid #e4e4e4;
}
.table tr:nth-child(2n+1) td {
  background-color: #f4f4f4;
  color: #5d5d5d;
}
form {
  margin-bottom: 26px;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
fieldset legend {
  display: none;
}
fieldset > ol,
fieldset > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
fieldset > ol > li,
fieldset > ul > li {
  margin: 0;
  padding: 0;
  word-spacing: -5px;
}
label,
input,
textarea,
select,
button,
a.button,
.button {
  display: inline-block;
  margin: 0;
  margin-bottom: 13px;
  font-family: inherit;
  font-size: inherit;
  vertical-align: bottom;
}
label {
  vertical-align: top;
  font-weight: bold;
}
label.left {
  margin-right: 13px;
}
label.right {
  margin-left: 13px;
}
label span {
  display: block;
  font-weight: normal;
}
label.error {
  color: #ad7676;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="file"],
textarea,
select {
  height: 39px;
  line-height: 39px;
  padding: 0 13px;
  border: 1px solid #cacaca;
  outline: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #777777;
  width: 100%;
  background: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
  background-color: #ffffff;
  border: 1px solid #006699;
  color: #555555;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
input[type="file"],
input[type="file"]:focus {
  border: 0;
  padding: 0;
}
input[disabled],
textarea[disabled],
select[disabled],
button[disabled],
.button[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.65;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
a.button,
.button {
  margin-right: 13px;
}
.text-center input[type="submit"],
.text-center input[type="reset"],
.text-center input[type="button"],
.text-center button,
.text-center a.button,
.text-center .button {
  margin-left: 6.5px;
  margin-right: 6.5px;
}
.text-right input[type="submit"],
.text-right input[type="reset"],
.text-right input[type="button"],
.text-right button,
.text-right a.button,
.text-right .button {
  margin-left: 13px;
  margin-right: 0;
}
textarea {
  line-height: 26px;
  height: auto;
  margin: 0 0 13px 0;
  min-height: 78px;
  overflow: auto;
}
input[type="checkbox"],
input[type="radio"] {
  vertical-align: top;
  height: 26px;
  line-height: 26px;
  margin: 0 13px 0 13px;
}
input.error,
select.error,
textarea.error,
.input-validation-error {
  border: 1px solid #e0b1b1;
  background-color: #ffd9d5;
  color: #ad7676;
  -moz-box-shadow: inset 0 0 45px #f0bfba;
  -webkit-box-shadow: inset 0 0 45px #f0bfba;
  box-shadow: inset 0 0 45px #f0bfba;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
a.button,
.button {
  height: 39px;
  line-height: 39px;
  background-color: #474949;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
a.button,
.button {
  height: 39px;
  line-height: 39px;
  padding: 0 13px;
  margin: 0 0 13px 0;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
a.button:hover,
.button:hover {
  background-color: #3a3c3c;
}
button.primary,
input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
a.button.primary,
.button.primary {
  background-color: #428bca;
}
button.primary:hover,
input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
a.button.primary:hover,
.button.primary:hover {
  background-color: #357ebd;
}
button:active,
button.primary:active,
input[type="submit"]:active,
input[type="submit"].primary:active,
input[type="reset"]:active,
input[type="reset"].primary:active,
input[type="button"]:active,
input[type="button"].primary:active,
a.button:active,
a.button.primary:active,
.button:active,
.button.primary:active {
  background-color: #5cb85c;
}
.pull-left {
  float: left;
  margin: 0 13px 13px 0;
}
.pull-right {
  float: right;
  margin: 0 0 13px 13px;
}
@media only screen {
  .hide-on-screen {
    display: none;
  }
}
@media only print {
  .hide-on-paper {
    display: none;
  }
}
