/*
Solid Grid V2.1
Copyright 2013, Patrick Robin
www.solidgrid.co.uk
Free to use under the MIT license.
http://www.opensource.org/licenses/mit-license.php
01/10/2013
*/
/*
Solid Grid V2.1
Copyright 2013, Patrick Robin
www.solidgrid.co.uk
Free to use under the MIT license.
http://www.opensource.org/licenses/mit-license.php
01/10/2013
*/
/*
Solid Grid V2.1
Copyright 2013, Patrick Robin
www.solidgrid.co.uk
Free to use under the MIT license.
http://www.opensource.org/licenses/mit-license.php
01/10/2013
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
.table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #ffffff;
  color: #5d5d5d;
  font: 14px/28px 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #5d5d5d;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  text-decoration: none;
  color: #006699;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h1 a:focus,
h2 a:focus,
h3 a:focus,
h4 a:focus,
h5 a:focus,
h6 a:focus {
  text-decoration: none;
  color: #006699;
}
h1 {
  font-size: 31.5px;
  line-height: 56px;
}
h2 {
  font-size: 28px;
  line-height: 56px;
}
h3 {
  font-size: 24.5px;
  line-height: 56px;
}
h4 {
  font-size: 21px;
  line-height: 28px;
}
h5 {
  font-size: 17.5px;
  line-height: 28px;
}
h6 {
  font-size: 14px;
  line-height: 28px;
}
p {
  margin-bottom: 28px;
}
p.introduction {
  padding: 14px 0;
  margin-bottom: 28px;
  font-size: 21px;
  line-height: 42px;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
a,
a:visited {
  color: #056273;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #006699;
  text-decoration: none;
}
blockquote {
  border-left: 3px solid #056273;
  margin: 28px 0 28px 28px;
  padding: 0 0 0 28px;
}
blockquote,
cite {
  font-style: italic;
}
blockquote cite:before {
  content: "\2014 \0020";
}
address {
  display: block;
  margin-bottom: 28px;
}
code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
code {
  color: #056273;
  white-space: nowrap;
  background: #f9f2f4;
  vertical-align: top;
  padding: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
pre {
  display: block;
  padding: 13px;
  color: #056273;
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  background: #f9f2f4;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 28px;
  border: 1px solid #e4e4e4;
  overflow: auto;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre-wrap;
  background: transparent;
  border: 0;
}
img {
  margin-bottom: 28px;
}
img.scale {
  max-width: 100%;
  height: auto;
}
img.bordered {
  border: 10px solid #ffffff;
  -moz-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img.rounded {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
img.circular {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
hr {
  background: #e4e4e4;
  height: 1px;
  width: 90%;
  border: none;
  margin: 28px auto;
  margin-bottom: 27px;
  clear: both;
}
span.quiet {
  color: #cccccc;
}
span.loud {
  color: #000000;
}
span.highlight {
  background: #0a96a9;
  color: #ffffff;
  padding: 0 7px;
}
span.removed {
  text-decoration: line-through;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
ul,
ol {
  margin: 28px 0 28px 28px;
}
ul {
  list-style: circle outside;
}
ol {
  list-style: decimal;
  margin-left: 28px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 28px 0 28px 28px;
}
li {
  margin: 0;
}
dl {
  margin: 28px 0 28px 28px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 28px;
}
/* tables */
.table {
  margin-bottom: 28px;
  width: 100%;
  line-height: 28px;
}
.table caption {
  background: transparent;
  padding: 0 14px;
  line-height: 56px;
  font-size: 21px;
  color: #5d5d5d;
  border-bottom: 1px solid #e4e4e4;
}
.table th,
.table td {
  padding: 0 14px;
}
.table th {
  background: #transparent;
  line-height: 35px;
  font-size: 17.5px;
  font-weight: bold;
  color: #666666;
}
.table td {
  padding: 0 14px;
  line-height: 28px;
  vertical-align: top;
  background: transparent;
  color: #5d5d5d;
  border-top: 1px solid #e4e4e4;
}
.table.zebra tr:nth-child(2n+1) td {
  background: #f4f4f4;
  color: #5d5d5d;
}
form {
  margin-bottom: 28px;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
fieldset legend {
  display: none;
}
fieldset > ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
fieldset > ol > li {
  margin: 0;
  padding: 0;
  vertical-align: top;
}
fieldset > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
fieldset > ul > li {
  margin: 0;
  padding: 0;
  vertical-align: top;
}
label,
input,
textarea,
select,
button,
a.button,
.button {
  display: inline-block;
  margin: 0;
  margin-bottom: 14px;
  font-family: inherit;
  font-size: inherit;
  vertical-align: top;
}
label {
  font-weight: bold;
  margin-right: 14px;
}
label span {
  display: block;
  font-weight: normal;
}
label .error {
  color: #ad7676;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="file"],
textarea,
select {
  height: 42px;
  line-height: 42px;
  padding: 0 14px;
  border: 1px solid #cacaca;
  outline: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #777777;
  width: 100%;
  background: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
  background: #ffffff;
  border: 1px solid #006699;
  color: #555555;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
input[type="file"],
input[type="file"]:focus {
  border: 0;
  padding: 0;
}
input[disabled],
textarea[disabled],
select[disabled],
button[disabled],
.button[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.65;
}
textarea {
  line-height: 28px;
  height: auto;
  margin: 0 0 14px 0;
  min-height: 84px;
  overflow: auto;
}
input[type="checkbox"],
input[type="radio"] {
  vertical-align: top;
  height: 28px;
  line-height: 28px;
  margin: 0 14px 0 14px;
}
input.error,
select.error,
textarea.error,
.input-validation-error {
  border: 1px solid #e0b1b1;
  background: #ffd9d5;
  color: #ad7676;
  -moz-box-shadow: inset 0 0 45px #f0bfba;
  -webkit-box-shadow: inset 0 0 45px #f0bfba;
  box-shadow: inset 0 0 45px #f0bfba;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
a.button,
.button {
  height: 42px;
  line-height: 42px;
  margin-right: 14px;
  background: #474949;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.text-center input[type="submit"],
.text-center input[type="reset"],
.text-center input[type="button"],
.text-center button,
.text-center a.button,
.text-center .button {
  margin-left: 7px;
  margin-right: 7px;
}
.text-right input[type="submit"],
.text-right input[type="reset"],
.text-right input[type="button"],
.text-right button,
.text-right a.button,
.text-right .button {
  margin-left: 14px;
  margin-right: 0;
}
a.button,
.button {
  height: 42px;
  line-height: 42px;
  padding: 0 14px;
}
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
a.button:focus,
.button:focus {
  background: #606363;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
a.button:hover,
.button:hover {
  background: #3a3c3c;
}
button.primary,
input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
a.button.primary,
.button.primary {
  background: #428bca;
}
button.primary:focus,
input[type="submit"].primary:focus,
input[type="reset"].primary:focus,
input[type="button"].primary:focus,
a.button.primary:focus,
.button.primary:focus {
  background: #5697cf;
}
button.primary:hover,
input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
a.button.primary:hover,
.button.primary:hover {
  background: #357ebd;
}
button:active,
button.primary:active,
input[type="submit"]:active,
input[type="submit"].primary:active,
input[type="reset"]:active,
input[type="reset"].primary:active,
input[type="button"]:active,
input[type="button"].primary:active,
a.button:active,
a.button.primary:active,
.button:active,
.button.primary:active {
  background: #5cb85c;
}
.full-width {
  width: 100%;
  box-sizing: border-box;
}
.pull-left {
  float: left;
  margin: 0 14px 14px 0;
}
.pull-right {
  float: right;
  margin: 0 0 14px 14px;
}
@media only screen and (min-width : 720px) {
  fieldset.inline li {
    display: inline-block;
    margin-right: 14px;
  }
  fieldset.inline li label,
  fieldset.inline li input,
  fieldset.inline li textarea,
  fieldset.inline li select,
  fieldset.inline li button,
  fieldset.inline li a.button,
  fieldset.inline li .button {
    vertical-align: middle !important;
  }
}
@media only screen {
  .hide-on-screen {
    display: none;
  }
}
@media only print {
  .hide-on-paper {
    display: none;
  }
}
