/*
Solid Grid V2.1
Copyright 2013, Patrick Robin
www.solidgrid.co.uk
Free to use under the MIT license.
http://www.opensource.org/licenses/mit-license.php
01/10/2013
*/

@import "media.mixins.less";

//rows
@mediumWidth: 720px;
@largeWidth: 960px;
@extraLargeWidth: 1200px;


//columns
@columnWidth: (100% / 12);
@gutterWidth: 20px;


.makeRow() {
    margin: 0 auto;

    & & {
        width: auto;
        margin-left: -(@gutterWidth / 2);
        margin-right: -(@gutterWidth / 2);
    }

    .clearFix;

    @media @mediumScreen {
        width: @mediumWidth;
    }

    @media @largeScreen {
        width: @largeWidth;
    }

    @media @extraLargeScreen {
        width: @extraLargeWidth;
    }
}


.makeColumn(@columns) {
    box-sizing: border-box;
    padding: 0 (@gutterWidth / 2);
    min-height: 1px;
    position: relative;

    @media @mediumScreen {
        float: left;
        width: @columnWidth * @columns;
    }
}


.offsetBy(@columns) {
    @media @mediumScreen {
        margin-left: @columnWidth * @columns;
    }
}


.pushBy(@columns) {
    @media @mediumScreen {
        left: @columnWidth * @columns;
    }
}

.pullBy(@columns) {
    @media @mediumScreen {
        right: @columnWidth * @columns;
    }
}


.clearFix() {
    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}