/*
Solid Grid V2.1
Copyright 2013, Patrick Robin
www.solidgrid.co.uk
Free to use under the MIT license.
http://www.opensource.org/licenses/mit-license.php
01/10/2013
*/
/*
Solid Grid V2.1
Copyright 2013, Patrick Robin
www.solidgrid.co.uk
Free to use under the MIT license.
http://www.opensource.org/licenses/mit-license.php
01/10/2013
*/
/*
Solid Grid V2.1
Copyright 2013, Patrick Robin
www.solidgrid.co.uk
Free to use under the MIT license.
http://www.opensource.org/licenses/mit-license.php
01/10/2013
*/
.row {
  margin: 0 auto;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row .row {
  width: auto;
  margin-left: -10px;
  margin-right: -10px;
}
.column,
.columns {
  box-sizing: border-box;
  padding: 0 10px;
  min-height: 1px;
  position: relative;
}
@media only screen and (max-width : 549px) {
  .hidden-extra-small {
    display: none;
  }
}
@media only screen and (min-width : 550px) and (max-width : 719px) {
  .hidden-small {
    display: none;
  }
}
@media only screen and (min-width : 720px) {
  .row {
    width: 720px;
  }
  .column,
  .columns {
    float: left;
  }
  .one.column {
    width: 8.33333333%;
  }
  .two.columns {
    width: 16.66666667%;
  }
  .three.columns {
    width: 25%;
  }
  .four.columns {
    width: 33.33333333%;
  }
  .five.columns {
    width: 41.66666667%;
  }
  .six.columns {
    width: 50%;
  }
  .seven.columns {
    width: 58.33333333%;
  }
  .eight.columns {
    width: 66.66666667%;
  }
  .nine.columns {
    width: 75%;
  }
  .ten.columns {
    width: 83.33333333%;
  }
  .eleven.columns {
    width: 91.66666667%;
  }
  .twelve.columns {
    width: 100%;
  }
  .offset-by-one {
    margin-left: 8.33333333%;
  }
  .offset-by-two {
    margin-left: 16.66666667%;
  }
  .offset-by-three {
    margin-left: 25%;
  }
  .offset-by-four {
    margin-left: 33.33333333%;
  }
  .offset-by-five {
    margin-left: 41.66666667%;
  }
  .offset-by-six {
    margin-left: 50%;
  }
  .offset-by-seven {
    margin-left: 58.33333333%;
  }
  .offset-by-eight {
    margin-left: 66.66666667%;
  }
  .offset-by-nine {
    margin-left: 75%;
  }
  .offset-by-ten {
    margin-left: 83.33333333%;
  }
  .offset-by-eleven {
    margin-left: 91.66666667%;
  }
  .push-by-one {
    left: 8.33333333%;
  }
  .push-by-two {
    left: 16.66666667%;
  }
  .push-by-three {
    left: 25%;
  }
  .push-by-four {
    left: 33.33333333%;
  }
  .push-by-five {
    left: 41.66666667%;
  }
  .push-by-six {
    left: 50%;
  }
  .push-by-seven {
    left: 58.33333333%;
  }
  .push-by-eight {
    left: 66.66666667%;
  }
  .push-by-nine {
    left: 75%;
  }
  .push-by-ten {
    left: 83.33333333%;
  }
  .push-by-eleven {
    left: 91.66666667%;
  }
  .pull-by-one {
    right: 8.33333333%;
  }
  .pull-by-two {
    right: 16.66666667%;
  }
  .pull-by-three {
    right: 25%;
  }
  .pull-by-four {
    right: 33.33333333%;
  }
  .pull-by-five {
    right: 41.66666667%;
  }
  .pull-by-six {
    right: 50%;
  }
  .pull-by-seven {
    right: 58.33333333%;
  }
  .pull-by-eight {
    right: 66.66666667%;
  }
  .pull-by-nine {
    right: 75%;
  }
  .pull-by-ten {
    right: 83.33333333%;
  }
  .pull-by-eleven {
    right: 91.66666667%;
  }
}
@media only screen and (min-width : 720px) and (max-width : 959px) {
  .hidden-medium {
    display: none;
  }
}
@media only screen and (min-width : 960px) {
  .row {
    width: 960px;
  }
}
@media only screen and (min-width : 960px) and (max-width : 1199px) {
  .hidden-large {
    display: none;
  }
}
@media only screen and (min-width : 1200px) {
  .row {
    width: 1200px;
  }
  .hidden-extra-large {
    display: none;
  }
}
