//media queries
@extraSmallScreenOnly: ~"only screen and (max-width : 549px)";
@smallScreen: ~"only screen and (min-width : 550px)";
@smallScreenOnly: ~"only screen and (min-width : 550px) and (max-width : 719px)";
@mediumScreen: ~"only screen and (min-width : 720px)";
@mediumScreenOnly: ~"only screen and (min-width : 720px) and (max-width : 959px)";
@largeScreen: ~"only screen and (min-width : 960px)";
@largeScreenOnly: ~"only screen and (min-width : 960px) and (max-width : 1199px)";
@extraLargeScreen: ~"only screen and (min-width : 1200px)";